.business_container {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
  .cont {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p {
      font-size: 40px;
      font-weight: bold;
      color: #fff;
    }
    &:first-of-type {
      background: #0e7fbd;
    }
    &:nth-of-type(2) {
      background: #27b75b;
    }
    &:nth-of-type(3) {
      background: #d47d1b;
    }
    &:nth-of-type(4) {
      background: #513cb8;
    }
  }
}
