$mb: 767px;
$pc: 768px;

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

@mixin pc_screen {
  @media screen and (min-width: $pc) {
    @content;
  }
}

.business * {
  box-sizing: border-box;
}

.business {
  display: block;
  // width: 100%;
  // max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 80px;
  @include mobile {
    width: auto;
    box-sizing: border-box;
  }
  .wrapper {
    h3 {
      border-left: 6px solid #143448;
      padding-left: 10px;
    }
    h3.op {
      border-left: 6px solid #ffffff;
      padding-left: 10px;
    }
    //制作
    .pr_container {
      box-sizing: border-box;
      margin: 0 auto;
      margin-bottom: 80px;
      width: 100%;
      max-width: 1280px;
      margin-top: 30px;

      @include mobile {
        max-width: auto;
        width: 100%;
        margin-bottom: 40px;
        padding: 0 20px;
      }
      .pr_inner {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @include mobile {
          display: block;
        }
        .pr_contents {
          display: block;
          width: calc(100% / 3);
          @include mobile {
            width: 100%;
            margin-bottom: 20px;
          }
          a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding: 7%;
            transition: ease 0.5s;
            border-radius: 8px;
            box-shadow: 0px 0px 60px -41px #777777;
            border-radius: 10px;
            .image_container {
              width: 100%;
              padding: 2%;
              margin-bottom: 20px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: antiquewhite;
              }
            }
            .text_container {
              .title_inner {
                margin-bottom: 10px;
                font-size: 20px;
              }
              .text_inner {
                margin-bottom: 10px;
              }
            }
          }
          a:hover {
            box-shadow: 0px 0px 60px -27px #777777;
          }
        }
        .pr_contents:nth-child(2) {
          margin: 0 6%;
          @include mobile {
            margin: 40px 0px 40px 0px;
          }
        }
      }
    }
    //運用
    .op_container {
      box-sizing: border-box;
      margin: 0 auto;
      margin-bottom: 80px;
      width: 100%;
      max-width: 1280px;
      color: #fff;
      margin-top: 30px;
      @include mobile {
        max-width: auto;
        width: 100%;
        margin-bottom: 40px;
        padding: 0 20px;
      }
      .op_inner {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @include mobile {
          display: block;
        }
        .op_contents {
          display: block;
          width: calc(100% / 3);
          color: #fff;
          @include mobile {
            width: 100%;
            margin-bottom: 20px;
          }
          a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding: 7%;
            transition: ease 0.5s;
            border-radius: 8px;
            box-shadow: 0px 0px 60px -41px #ffffff;
            border-radius: 10px;
            .image_container {
              width: 100%;
              padding: 2%;
              margin-bottom: 20px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: antiquewhite;
              }
            }
            .text_container {
              .title_inner {
                margin-bottom: 10px;
                font-size: 20px;
              }
              .text_inner {
                margin-bottom: 10px;
              }
            }
          }
          a:hover {
            box-shadow: 0px 0px 60px -27px #ffffff;
          }
        }
        .op_contents:nth-child(2) {
          margin: 0 6%;
          @include mobile {
            margin: 40px 0px 40px 0px;
          }
        }
      }
    }
    .op_container_bg {
      position: relative;
      padding: 60px 0px;
    }
    .op_container_bg::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #143448;
      -webkit-transform: skewY(-4deg);
      transform: skewY(-4deg);
    }
  }
}
