.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

.contents {
  padding: 8px 24px;
}

.container .contents .images {
  width: 100%;
}

.containerInner {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
}

.button {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
}

.button img {
  cursor: pointer;
}

.openButton {
  background-color: #edf2f7;
  width: fit-content;
}

.closeButton {
  background-color: #3182ce;
  color: #fff;
}

.closeButton:hover {
  background-color: #2b6cb0;
}

.nextButton {
  background-color: transparent;
  margin-left: 4px;
}

.nextButton:hover {
  background-color: #e2e8f0;
}

.iconClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.iconClose {
  background-color: #e2e8f0;
}

.container {
  display: none;
}

.container.openText {
  display: block;
  background: #fff;
  width: fit-content;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 1000;
}

.mask {
  display: none;
}

.mask.openText {
  display: block;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

//スライダー
.mySwiper {
  max-width: 1200px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

.swiperSliders {
  background-position: center;
  background-size: cover;
  width: fit-content;
  max-width: 60%;
  height: fit-content;
}

.swiperSliders img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  display: none;
}

// PageDesign（スタイル）
.bnr_container {
  display: block;
  margin: 0 auto;
  .bnr_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    .button_container {
      width: fit-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .button_inner {
        width: 300px;
        img {
          width: 100%;
        }
      }
    }
  }
}

//メインスライダー
.image_container {
  .swiper-slide.swiper-slide-prev {
    color: #000;
  }
  .swiper-slide.swiper-slide-prev.acrive {
    color: red;
  }
  img {
    width: 100%;
  }
}

.swiperSlide {
  width: 80%;
}

.swiperSlide p {
  font-size: 32px;
  font-weight: bold;
  opacity: 0;
}
.swiperSlide.active p {
  animation-name: sample-animation1;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

@keyframes sample-animation1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  40% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
