$mb: 767px;
$pc: 768px;

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

@mixin pc_screen {
  @media screen and (min-width: $pc) {
    @content;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

.contents {
  padding: 8px 24px;
}

.container .contents .images {
  width: 100%;
}

.containerInner {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
}

.button {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
}

.button img {
  cursor: pointer;
}

.openButton {
  background-color: #edf2f7;
  width: fit-content;
}

.closeButton {
  background-color: #3182ce;
  color: #fff;
}

.closeButton:hover {
  background-color: #2b6cb0;
}

.nextButton {
  background-color: transparent;
  margin-left: 4px;
}

.nextButton:hover {
  background-color: #e2e8f0;
}

.iconClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.iconClose {
  background-color: #e2e8f0;
}

.container {
  display: none;
}

.container.openText {
  display: block;
  background: #fff;
  width: fit-content;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 1000;
}

.mask {
  display: none;
}

.mask.openText {
  display: block;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

//スライダー
.mySwiper {
  max-width: 1200px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

.swiperSliders {
  background-position: center;
  background-size: cover;
  width: fit-content;
  max-width: 60%;
  height: fit-content;
}

.swiperSliders img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  display: none;
}

.design_container {
  width: fit-content;
  padding: 20px !important;
  @include mobile {
    width: 90% !important;
    padding: 20px !important;
  }
}

.design_image_container {
  position: relative;
  img {
    width: 100%;
    max-width: fit-content;
    @include mobile {
      width: 100%;
    }
  }
}

// PageDesign（スタイル）

.design_page_slider {
  margin-bottom: 80px;
}

.bnr_container {
  display: block;
  margin: 0 auto;
  .bnr_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 80px;
    @include mobile {
      margin-bottom: 40px;
    }
    .button_container {
      width: fit-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .button_inner {
        width: 300px;
        @include mobile {
          width: 100%;
          margin: 0px 20px;
          margin-bottom: 20px;
          padding: 0px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

//メインスライダー
.image_container {
  width: 100%;
  @include mobile {
    width: 100%;
  }
  .swiper-slide.swiper-slide-prev {
    color: #000;
  }
  .swiper-slide.swiper-slide-prev.acrive {
    color: red;
  }
  img {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @include mobile {
      width: 100%;
    }
  }
  .container_btn {
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 6px;
    z-index: 1;
    left: 0px;
    padding: 0px 20px;
    width: 750px;
    margin: auto;
    @include mobile {
      width: 100%;
      bottom: 0px;
    }
    .slider_btn {
      display: flex;
      position: relative;
      background-color: #143448;
      width: 40px;
      height: 40px;
      border-radius: 9999px;
      cursor: pointer;
    }
    .slider_btn.btn_prev::before {
      opacity: 1;
      top: 44%;
      right: 50%;
      margin: -5px -3px 0 0;
      border-width: 3px 3px 0 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      width: 11px;
      height: 11px;
      border-style: solid;
      border-color: #ffffff;
      content: "";
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }
    .slider_btn.btn_next::before {
      opacity: 1;
      top: 44%;
      left: 50%;
      margin: -5px 0 0 -3px;
      border-width: 3px 3px 0 0;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      position: absolute;
      width: 11px;
      height: 11px;
      border-style: solid;
      border-color: #ffffff;
      content: "";
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }
  }
}

.banar_more_btn {
  display: block;
  color: #143448;
  border: 1px solid #143448;
  width: fit-content;
  padding: 10px 60px;
  margin: 60px auto 0px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  @include mobile {
    margin: 40px auto 0px;
  }
}
@include pc_screen() {
  .banar_more_btn:hover {
    background-color: #143448;
    color: #fff;
  }
}

.swiperSlide {
  width: 100%;
}

.swiperSlide p {
  display: flex;
  bottom: 47px;
  padding: 20px 20px;
  justify-content: center;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: 2s ease-in-out;
  transform: translateY(-20px);
  font-size: 18px;
  @include mobile {
    font-size: 16px;
  }
}

.swiperSlide p.small {
  font-size: 18px;
  display: flex;
  bottom: 0px;
  padding: 0px 20px;
  @include mobile {
    font-size: 14px !important;
  }
}

.swiperSlide.active p {
  // animation-name: sample-animation1;
  // animation-duration: 10s;
  // animation-iteration-count: 1;
  text-align: center;
  transform: translateY(0px);
  opacity: 1;
}

.swiperSlide p.small {
  font-size: 18px;
}
.swiperSlide p.small {
  font-size: 14px;
  color: #999999;
}
.swiperSlide.active p.small {
  font-size: 14px;
}

// @keyframes sample-animation1 {
//   0% {
//     opacity: 0;
//     user-select: none;
//     transform: translateY(30px);
//   }
//   20% {
//     opacity: 0;
//     user-select: none;
//     transform: translateY(30px);
//   }
//   30% {
//     opacity: 1;
//     user-select: auto;
//     transform: translateY(0px);
//   }
//   50% {
//     opacity: 1;
//     user-select: auto;
//     transform: translateY(0px);
//   }
//   90% {
//     opacity: 1;
//     user-select: auto;
//     transform: translateY(0px);
//   }
//   100% {
//     opacity: 0;
//     user-select: none;
//     transform: translateY(30px);
//   }
// }

.swiper_pagination {
  margin: 0 auto !important;
  width: 160px !important;
  height: auto;
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 15px !important;
  span {
    width: 35px !important;
    height: 4.6px !important;
    border-radius: 0 !important;
    cursor: pointer !important;
    padding: 0px !important;
    background-color: #999999 !important;
  }
}
