$mb: 767px;
$pc: 768px;

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

@mixin pc_screen {
  @media screen and (min-width: $pc) {
    @content;
  }
}

.container {
  margin: 0 auto;
}
.header {
  width: 100%;
  height: fit-content;
  display: grid;
  margin: 0 auto;
  font-size: 12px;
  padding: 30px 0px 0px 0px;
  // background-color: #fff;
  a {
    width: fit-content;
    margin: 0 auto;
    h1 {
      font-size: 52px;
      display: grid;
      text-align: center;
      @include mobile {
        font-size: 10vw;
      }
      span {
        font-size: 24px;
        color: #c2c2c2;
      }
    }
  }
}

.footer_layout {
  position: sticky;
  top: 100vh;
  bottom: 0px;
  width: 100%;
  @include mobile {
    position: relative;
    top: 0px;
    bottom: 0px;
    width: 100%;
  }
}
