.container {
  margin: 0 auto;
}
.header {
  width: 100%;
  display: grid;
  margin: 0 auto;
  font-size: 12px;
  // background-color: #fff;
  a {
    width: fit-content;
    margin: 0 auto;
    h1 {
      font-size: 42px;
      display: grid;
      text-align: center;
      span {
        font-size: 24px;
        color: #c2c2c2;
      }
    }
  }
}
