#root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.home_container {
  // scroll-snap-type: y mandatory;
  // overflow: auto;
  // display: block;
  .cont {
    // scroll-snap-align: start;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    &:first-of-type {
    }
    &:nth-of-type(2) {
      background-color: #f6f6f6;
    }
    &:nth-of-type(3) {
    }
    &:nth-of-type(4) {
    }
  }
}
