$mb: 767px;
$pc: 768px;

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

@mixin pc_screen {
  @media screen and (min-width: $pc) {
    @content;
  }
}

#root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.home_container {
  // scroll-snap-type: y mandatory;
  // overflow: auto;
  // display: block;
  .cont {
    // scroll-snap-align: start;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    &:first-of-type {
    }
    &:nth-of-type(2) {
      background: linear-gradient(-45deg, #102050, #203080);
      color: #fff;
      padding: 80px 0px;
      @include mobile {
        padding: 36px 0px;
      }
    }
    &:nth-of-type(3) {
      padding: 80px 0px;
      @include mobile {
        padding: 36px 0px;
      }
      // background-color: rgba(246, 246, 246, 0.8);
      background-color: #f6f6f6;
    }
    &:nth-of-type(4) {
      padding: 80px 0px 240px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 36px 0px;
      }
    }
  }
}

.profile_container {
  .prosile {
    .wrapper {
      height: 100%;
    }
  }
}
