$mb: 767px;
$pc: 768px;

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

@mixin pc_screen {
  @media screen and (min-width: $pc) {
    @content;
  }
}

.work_main {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  .container {
    max-width: 1280px;
    width: calc(100% - 100px);
    margin: 0 auto;
    box-sizing: border-box;
    @include mobile {
      width: 100%;
      padding: 0 20px;
    }
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0px;
      padding: 0px;
      @include mobile {
        padding: 0px;
      }
    }
    li {
      width: calc(100% / 3);
      padding: 2%;
      list-style-type: none;
      @include mobile {
        width: 100%;
        margin: 0 auto 40px;
        padding: 0px;
      }
      .img_inner {
        position: relative;
        .img_box {
          height: auto;
          @include mobile {
            height: calc(435px / 2);
            margin-bottom: 12px;
          }
          img {
            width: 100%;
            @include mobile {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top;
            }
          }
        }
        .link_contents {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.6);
          transition: 0.3s ease-in-out;
          opacity: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            color: #fff;
            transform: translateY(0px);
            transition: 1s;
            opacity: 1;
          }
        }
        @include pc_screen {
          .link_contents:hover {
            opacity: 1;
          }
          p.active {
            transform: translateY(20px);
            opacity: 0;
            user-select: none;
            transition: none;
          }
        }
      }
      p {
        // color: #333;
        margin: 0px;
        width: fit-content;
        font-weight: bold;
      }
      p.small {
        color: #c2c2c2;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
}
.work_main.work_page {
  margin-bottom: 80px;
  @include mobile {
    margin-bottom: 40px;
  }
}
