$mb: 767px;
$pc: 768px;

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

@mixin pc_screen {
  @media screen and (min-width: $pc) {
    @content;
  }
}

.work {
  h1 {
    text-align: center;
  }
  .workContainer {
    max-width: 1080px;
    margin: 0 auto;
    .work_image {
      margin-bottom: 10px;
      @include mobile {
        margin-bottom: 8px;
      }
    }
    padding: 0px 60px 80px 60px;
    @include mobile {
      max-width: 100%;
      width: 100%;
      padding: 0px 20px 40px 20px;
    }
    .text_area {
      p {
        font-size: 18px;
        margin-bottom: 2px;
        font-weight: bold;
        color: #808080;
        @include mobile {
          font-size: 16px;
          margin-bottom: 2px;
          font-weight: bold;
          color: #808080;
        }
      }
      p.text_data {
        font-size: 16px;
        line-height: 1.75;
        margin-top: 15px;
        font-weight: normal;
        color: #000;
        @include mobile {
          font-size: 12.5px;
          line-height: 1.65;
          margin-top: 10px;
          font-weight: normal;
          color: #000;
        }
      }
    }
    img {
      display: block;
      margin: 0 auto;
    }
    .icon_container {
      width: 100px;
      font-size: 14px;
      margin-top: 6px;
      @include mobile {
        margin-top: 6px;
        font-size: 12px;
      }
      a {
        color: #007bff;
        text-decoration: underline;
        cursor: pointer;
        position: relative;
        .icon {
          width: 18px;
          position: absolute;
          top: -6px;
          right: -21px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  //スライダー
  .mySwiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    @include mobile {
      padding-top: 25px;
      padding-bottom: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  .swiperSliders {
    background-position: center;
    background-size: cover;
    width: fit-content;
    max-width: 70%;
    height: fit-content;
  }

  .swiperSliders img {
    display: block;
    width: 100%;
  }

  .swiper-pagination {
    display: none;
  }
}
