@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Roboto:wght@400;500;700;900&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif !important;
  margin: 0px;
  padding: 0px;
}

html,
body,
ul,
li,
p,
a,
div,
nav {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #333;
    background: white;
  }
}

.swiper-pagination {
  display: none;
}
